<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page of my final project</title>
    <link a href="css/styles.css" type="text/css" rel="stylesheet">
</head>
<!-- SOCIAL MEDIA ON ALL PAGES -->

<body class="about">
    <ul class="social">
<li><a href="">
    <img src="images/facebook.jpg" alt="Facebook logo"></a></li>
    <li><a href="">
        <img src="images/facebook.jpg" alt="Facebook logo"></a></li>
        <li><a href="">
            <img src="images/facebook.jpg" alt="Facebook logo"></a></li>
    



    </ul>

<header>
        <div class="inner-header">
        <a href="index.html">
        <!-- <img id="logo"src="images/arrowbbq_68.png" alt="Logo"> -->
        </a>
    </div>


        <nav id="primary">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            
        </nav>
    </header>
<div id="wrapper">




<main>
    <img src="images/bizcard.JPG" alt="main"> 
<h1><b>About Us!</b></h1>
     <h2><i>We have been open since 2011. We are a small family owned busines. We are now serving 2 locations in Karnes county. Both locations are open till sell out! Karnse City location usually sells out between 2&3 while our Kenedy location sells out arounf 5/6 pm. See you soon!</i></h2> 
    <!-- <h3>How it works!</h3>
    <p>We offer ordering in advance when ordering 2-42 days in advance. Please check out calnder below. If you do not see an available date, that mens it is filled. We have a 5# minimum and a 25# maximum. We are open for lunch only. Our pre-order pick-up window is 10:30-1:30. Pre-orders are to-go only.</p>
    <h4><b>order in advance</b></h4> 
    <p>place order for pick up</p>
    <p>Daily menu</p> -->

</main>

<aside>
<h3><p><b>We are proud to announce we will be opening a coffee to go cart in December 2022!</b></p></h3>
<img src="images/coffeecart.jpeg" alt="aside">
<!-- <h3><b>by the pound!</b></h3>
<p>food</p>
<h5>side and pies</h5>
<p>REAL PIT BBQ! </p>
<p><i><b>for Catering please call: 830-583-6139</b></i></p>
<figure>
    <!-- <img src="images/location_pin_012.jpg" alt="aside"> -->
    <!-- <figcaption>Get Directions</figcaption>

</figure> --> 
</aside>
<footer>
    <ul>
        <li>Copyright &copy; 2022</li>
        <li>All Rights Reserved</li>
        <li><a href="">Terms of Use</a></li>
        <li><b><a href="../index.html">Web design by Bren</a></b></li>
        <li><a href="HTML 5 Valid"></a></li>
    <a href=""><img src="images/html5.png" alt="HTML 5 logo"></a>
    
</ul>
</footer>
<p><b><a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fcentral.mystudentswa.com%2Fbrendaro%2Fit161%2Ftemplate%2Fabout.html">HTMLValid!</a></b></p>
    </div>
    <!-- END WRAPPER -->
</body>
</html>