<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link a href="css/styles.css" type="text/css" rel="stylesheet">
    

</head>


<body class="home">
    <ul class="social">
<li><a href="">
    <img src="images/facebook.jpg" alt="Facebook logo"></a></li>
    <li><a href="">
        <img src="images/facebook.jpg" alt="Facebook logo"></a></li>
        <li><a href="">
            <img src="images/facebook.jpg" alt="Facebook logo"></a></li>



    </ul>

<header>
        <div class="inner-header">
        <a href="index.html">
        <img class="left"src="images/arrowbbq_68.png" alt="Logo">
        </a>
        <!-- <img class="right" src="images/neoncow.jpg" alt="logo"> -->

    <h1>Welcome to Partner's BBQ!</h1>
        <nav id="primary">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            
        </nav>
    </header>
</div>
<div id="wrapper">
<hr>

<blockquote>Partner's BBQ is a family owned business since 2011! Now serving Karnes County with two locations! Karnes City and Kenedy! George Garcia and family have been residents of Karnes County for the last 100 years! We are open Tuesday-Sunday 11am till we sell out!</blockquote>


<div id="hero">
<!-- <img src="images/BeefBrisket.jpg" alt="hero"> -->
</div>
<!-- END OF BANNER/HERO -->
<main>
    <!-- <img src="images/pngtree.jpg" alt="main">  -->
<h2><b>Our Hours</b></h2>
     <p>open for Lunch 6 days a week</p> 
    <h2>Mon.<i><b>CLOSED!</b></i></h2> 
    <p>Tue.-Sun. 11-SOLD OUT!(2 or 3pm)</p>
   
</main>
<aside>
    
<!-- <img src="images/ping.png" alt="aside"> -->
<h3><b>OUR LOCATIONS!</b></h3>
<p>Southeast Texas</p>
<P>204 S.HWY 123, Karnes City, Texas 78118</P>
<p>120 S. Sunset Strip, Kenedy, Texas 78119</p>
<p><i><b>Karnes County</b></i></p>
<figure>
    <img src="images/location_pin_012.jpg" alt="aside">
    <figcaption>Get Directions</figcaption>

</figure>
</aside>
<footer>
    <ul>
        <li>Copyright &copy; 2022</li>
        <li>All Rights Reserved</li>
        <li><a href="">Terms of Use</a></li>
        <li><b><a href="../index.html">Web design by Bren</a></b></li>
        <!-- <li><a href="HTML 5 Valid"></a></li> -->
    <a href=""><img src="images/html5.png" alt="HTML 5 logo"></a>
</ul>
</footer>
<p><b><a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fcentral.mystudentswa.com%2Fbrendaro%2Fit161%2Ftemplate%2Findex.html">HTMLValid!</a></b></p>
    </div>
    <!-- END WRAPPER -->
</body>
</html>