/* Styles for my template */

* {
    padding:0;
    margin:0; 
    box-sizing: border-box;
}
body {
    background:tan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#wrapper {
    width:940px;
    margin: 170px auto 20px auto;
}
/* position-fixed NEEDS WIDTH!!! */
header {
     /* background:#555; */
     padding-top: 20px;
     position: fixed;
     width:100%;
     margin:0 auto;
     top:0;
     left:0;

} 

.inner-header {

    background: #555;
    width:940px;
    margin:0 auto;

}
.social {
    position:fixed;
    bottom:200px;
    right:20px;
    list-style-type: none;
}
.social li{
    margin-bottom:8px;
}
h1 {
    font-weight: 300;
    font-size: 2.44em;
   
}
h2{
    color:orangered;
    font-size:2em;
    font-weight: 200;
}
h3{
    /* color:orangered; */
font-size: 1.78em;
font-weight: 200;
/* text-transform: lowercase; */
}


#logo {
    display:inline;
    margin-bottom: 16px;
}
#primary {
    height:50px;
    line-height: 50px;
    background:orangered;
    
}

#primary ul{
    width: 1000px;
    margin:0 auto;
}

#primary li {
    
list-style-type: none;
float: left;
width:20%;
text-align:center;

}
#primary a {
   
    text-decoration: none;
    color:#555;  
    display:block; 
}
#primary a:hover {
    background: black;
    color:orangered;
   
}

.home #primary li:nth-child(1) a,
.about #primary li:nth-child(2) a,
.menu #primary li:nth-child(3) a,
.contact #primary li:nth-child(4) a,

{
    background: #666;
    color:white;
}

#secondary {
    margin-top:20px;
    margin-bottom: 20px;
}

{
background: 
color:white;

}
#secondary li{

height:40px;
line-height: 40px;
background:white;
list-style-type: none;
margin-bottom: 10px;
}
#secondary a:hover{
    background:black;
    color:red;
}
#hero {
    height:150px;
    background:yellow;

}
hr{
    margin-bottom: 20;
}
blockquote{
margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.2em;
    border-left: 20px solid #555;
    padding-left: 20px;
    margin-right: 30px;
    font-style: italic;


}

main {
    width:560px;
    /* height: 400px; */
    float:left;
    margin-top: 26px;
    /* background: whitesmoke; */
    padding:20px 0 0 0;
}
aside{
    width:340px;
    padding:15px;
    background:grey;
    float:right;
    margin-top: 30px;
    /* margin-bottom: 30px; */
    

}

/* figure {
    margin-bottom: 10px;
}
figcaption{
background: black;
color: azure;
font-size: .875em;
padding:8px;
font-style: italic;

} */
footer {
    height:50px;
    line-height: 50px;
    border-top:1px dotted #666;
    clear: both;
    padding-top: 10px;
    font-size: .9em;
    
    
}
footer li{
    list-style-type: none;
    /* float:left; */
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-decoration: none;
    color: orangered;
}
footer a{
    color:gray;
}

footer img {
    margin-top: 2px;
}
/* for all images! max-width!! */
img {
    max-width: 100%; 
    display: block;  
}
/* img.right{
float: right;
margin-left: 30px;
margin-bottom: 10px;
} */
img.left{
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
}

h1 {

    margin-bottom: 5px;
    padding-left: 160px;
    padding-right: 50px;
    line-height: 50px;
}
h2,h3 {
    margin-bottom: 5px;
    padding-left: 10px;
    line-height:1.2;
    font-family:Arial, Helvetica, sans-serif
}
p {
margin-bottom: 20px;
line-height: 1.2;
padding-left: 20px;
}

aside p{
    font-size: 1em;
    font-weight: 100;
    
}