/* Styles for MY Big homework page */


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image:url(../images/buwhite5x3.png);
    background-attachment:fixed;
    
    

}

div#wrapper {
    width:940px;
    margin:20px auto;
    padding:20px;
    background: whitesmoke;
    background: rgba(240, 240, 240, .9);
    overflow: hidden;
    /* margin 20px auto will center your wrapper */
}
img.right{
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
}
img.left{
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
}

header{
    
    height:200px;
    /* background:deeppink; */
}
#logo {
    /* display: inline; */
    padding-bottom: 8px;
    border-right: pink groove 5px;
    border-left: pink groove 5px;
}
.inner-header{
    width:940px;
    margin:0 auto;
}
.center {
    margin:20px auto;
    display:block;
}

nav {
    height:50px;
    line-height: 50px;
    background:red;
    width: 900px;
}
nav li{
    list-style-type: none;
    float: left;
    width: 50%;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: black;
    display: block;
}

nav a:hover {
    background:deeppink;
    color: white;
}

.Home li:nth-child(1) a,
.Big li:nth-child(2),a
{background:darkgray;
    color: white;
    
}

#hero {
    /* height:300px; */
    /* background:yellow; */
    /* width: 940px; */
    /* text-align: center; */
    
}

main {
    width: 540px;
    /* height:400px; */
    /* background:green; */
    float: left;
    margin-top: 24px;
}

aside {
    width: 250px;
    padding:15px;
    /* height:300px; */
    background:darkgray;
    float: right;
    margin-top: 20px;
    margin-left: 50px;
}

footer {
    height: 50px;
    /* background: deeppink; */
    clear: both;
    border-top: 1px dotted #666;
    line-height: 50px;
    font-size: .9em;
}
footer li{
list-style-type: none;
float: left;
margin-right: 30px;
color: #666;
}

footer a{
    color: #666;
}

/* all images will have a max-width of 100% */
img{
    max-width:100%;
    display: block;
}

h1{
    font-weight: 200;
    font-size: 2.44em;
}
/* TYPOGRAPHY */
h1,h2,h3 {
    margin-bottom: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.2;
    color:black
}
p {
    margin-bottom: 20px;
    line-height: 1.5;
}

h2{
    color:#555;
    font-size: 2em;

}
h3 {
    color:black;
    font-size: 1.78em;
    /* font-weight: 200; */
    /* text-transform:uppercase; */
}
p {
    margin-bottom: 20px;
    line-height: 1.4;
}