/* Styles for my travel website */



*{

    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background:beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper {
width:940px;
margin:160px auto 20px auto;
}
/* margin 20px auto will center your wrapper */

header {
   background: #fff;
   padding-top: 20px;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;

    
}

.inner-header{
 
    width: 940px;
    margin: 0 auto;
}
.social {
    position:fixed;
    top: 300px;
    right: 5px;
    list-style-type: none;
}
.social li{
    margin-bottom: 8px;
}

#logo {
    display: inline;
    margin-bottom: 16px;
}
#primary {
    height: 50px;
    line-height: 50px;
    background: #eee
}

#primary ul {
    width: 1000px;
    margin: 0 auto;
}
#primary li {
    list-style-type: none;
    float: left;
    width: 20%;
    text-align: center;
}
#primary a {
    text-decoration: none;
    color: #d9961a;
    display: block;
}

#primary a:hover {
    background: #79a5d3;
    color:white;
}

.home #primary li:nth-child(1) a,
.about #primary li:nth-child(2) a,
.tours #primary  li:nth-child(3) a,
.promos #primary  li:nth-child(4) a,
.contact #primary  li:nth-child(5) a
{
   
    background: #79a5d3;
    color:white;

}
#secondary {
    margin-top: 20px;
    margin-bottom: 20px;
    /* background: white; */
}

.eastern-wa #secondary li:nth-child(1) a,
.western-wa #secondary li:nth-child(2)a
{
background: #79a5d3;
color:white;
}

#secondary li{
    height:40px;
    line-height: 40px;
    background:white;
    list-style-type:none;
    margin-bottom: 10px;
    /* background: #79a5d3; */
    /* color:white; */
}
#secondary a {
    display: block;
    padding-left: 20px;
    text-decoration: none;
    color:#79a5d3
}
#secondary a:hover {
    background: #d9961a;
    color:white;
}

/* The BAD way to resize your image */
/* #hero img{
    width: 940px;
} */
main{
    width:580px;
    /* background-color: lightgreen; */
    float:left;
    margin: top 24px;
    padding: 20px 0 0 0;
}
aside {
    width:340px;
    /* margin-top: 80px; */
    padding: 15px;
    background:#d9961a;
    float:right;
    margin-top:20px;
    /* padding:0; */
    border-bottom: 10px;
}

.tours aside{
    background: none;
    /* border:1px solid #d9961a; */
    padding:15px 0 0 0;
}
.specials {
    background:white;
    padding: 15px;

}

.row {
    clear: both;
    margin-bottom: 20px;
    /* border-bottom: 10px solid green; */
    overflow: hidden;
}

.third{
    width:300px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.third:last-of-type {
margin-right: 0;
}
.col-8{
    width: 460px;
    float: left;
}
.col-8:last-of-type{
    float:right;
}


footer{
    height:50px;
    line-height: 50px;
   border: top 1px dotted #666;
    clear:both;
    font-size: .9em;
}

footer li{
    list-style-type: none;
    float: left;
    margin-right: 30px;
    color: #666;
}
footer a{
    color: #666;
}

figure{
    margin-bottom: 15px;
}
figure img{
    margin-top: 3px;
}

    figcaption {
        background:#000;
        color:#fff;
        font-size: .875em;
        padding: 8px;
        font-style: italic;

    }
     .about figcaption{
        text-align: center;
        background: none;
        padding: 8px 0;
     }
    img + p{
        margin:15px 0 20px 0;
    }

/* All of your images will have a max-width of 100% */
img{
    max-width: 100%;
    display: block;
}
    h1{
        font-weight: 200;
        font-size: 2.44;
    }
    h2{
        color:#555;
        font-size: 1.78em;
        font-weight: 200;
    }
    h3{
        font-size: 1.78;
        font-weight: 200;
    }

/* TYPOGRAPHY */
h1,h2,h3 {
    margin-bottom: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.2;
    color: #555;
}
h2{
    color: #555;
    font-size: 1.78em;
    font-weight: 200;
}
h3{
    color: white;
    font-size: 1.78em;
    font-weight: 200;
    /* text-transform: lowercase; */
}
.tours h3 {
    color: #555;
}

p {
    margin-bottom: 20px;
    line-height: 1.4;
}
aside p {
    font-size: .9em;
}

.third h3 {

    color:#555;
    font-size: 1.5em;
    text-align: center;
}

.col-8 h3 {
    color:#555;
    font-size: 1.5em;
}



.third img +h3,
.col-8 img +h3 {
    margin: 10px 0 8px 0;
}

.third p{
    font-size: .9em;
    text-align: center;
}
span {
    display: block;
    text-align: center;
    font-style: italic;
}
span a{
    color: #79a5d3;
    
    font-size: 1.2em;
}